@charset "UTF-8";

body {
	background-color:#930000;
	
}

.login {
	width: 480px;
	color: #fff;
	transform: translate(-50, -50);
	text-align: center;
	padding: 20px 40px 10px 40px;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 15px;
	margin: 230px auto;
	margin-bottom :50px;
	/* box-shadow: 10px 10px 25px #000000;        
    */
}
/*.login i{
    font-size:100px;
    margin:20px auto;
} */
.login input {
	display: block;
	margin: 20px auto;
	text-align: center;
	padding: 10px;
	font-size: 17px;
	border-radius: 20px;
	outline: none;
}


	

.login input[type="text"], .login input[type="password"] {
	padding-left: 60px;
	text-align: left;
	width: 250px;
	border: 2px solid #9D9D9D;
	text-decoration: none;
}

.login input[type="text"]:focus, .login input[type="password"]:focus {
	transition: 0.5s;
	border: 2px solid #01B468
}

.login input[type="submit"] {
	font-size: 18px; width : 120px;
/* 	border: 2px solid #9D9D9D; */
	cursor: pointer;
	width: 120px;
}

.login input[type="submit"]:hover {
	
	background-color: #9D9D9D;
	transition: 0.3s;
}

#yaya {
	position: relative;
	top: -35px;
	right:-710px;
	display: inline;
	border: 2px solid #9D9D9D;
	text-align: center;
	border-radius: 8px;
	margin: 0px auto;
	height:30px;
	font-size: 15px;
	font-weight: bold;
	color:#5B5B00;
}

#i1 {
	text-indent: 26px;
	width: 240px;
	font-size: 18px;
	color: #fff;
	background-color: #0072E3;
	border: 2px solid #0072E3;
}

#i1:hover {
	background-color: #005AB5;
	transition: 0.3s;
	border: 2px solid #005AB5;
}

a {
	font-size: large;
	color: #E0E0E0;
	text-decoration: none;
}

#a1 {
	padding-right: 110px;
}

#i2 {
	background-color: #fff;
	text-indent: 26px;
	width: 240px;
	font-size: 18px;
}

#i2:hover {
	background-color: #9D9D9D;
	transition: 0.3s;
}

.img2 {
	width: 35px;
	height: 35px;
	position: relative;
	top: -60px;
	left: -29px;
}

#fa1 { /*信箱*/
	display: inline;
	position: relative;
	top: -126px;
	left: -119px;
	font-size: 23px;
	color: #8E8E8E;
}

#fa2 {
	position: relative;
	top: -132px;
	left: -92px;
	font-size: 30px;
	color: #fff;
}

#fa3 {
	position: relative;
	top: -228px;
	left: -117px;
	font-size: 22px;
	color: #8E8E8E
}

#fa4 {
	position: relative;
	top: -160px;
	left: -140px;
	font-size: 22px;
	color: #8E8E8E
}

#fa5 { /*user*/
	position: relative;
	top: -508px;
	left: -205px;
	font-size: 22px;
	color: #8E8E8E
}

h1 {
	margin: 0px;
}

#correct1 {
	pointer-events: none;
	position: relative;
	top: -530px;
	left: -90px; /*a 210 1080*/
	color: #01B468;
	font-size: 22px;
}

#correct2 {
	pointer-events: none;
	position: relative;
	top: -290px;
	left: -65px; /*a 210 1080*/
	color: #01B468;
	font-size: 22px;
}

#correct3 {
	pointer-events: none;
	position: relative;
	top: -220px;
	left: -43px; /*top:-330px;left:-22px; */
	color: #01B468;
	font-size: 22px;
}

#error1 {
	position: relative;
	top: -619px;
	left: 130px;
	color: red;
	font-size: 21px;
}

#error2 {
	position: relative;
	top: -490px;
	left: 180px;
	color: red;
	font-size: 21px;
}

#error3 {
	position: relative;
	top: -425px;
	left: 183px;
	color: red;
	font-size: 21px;
}

i {
	display: inline;
}

span {
	/* margin:0px;
    padding:0px; */
	float: right;
}

.fa-comment-alt {
	/* z-index:auto; */
	opacity: 0.7;
	position: relative;
	top: -640px;
	left: 100px;
	font-size: 120px;
	color: #FF2D2D;
}

#user1 {
	/* z-index: auto; */
	position: relative;
	top: -638px;;
	left: -10px;
	font-weight: 700;
	font-size: 17px;
}

#alt2 {
	opacity: 0.7;
	position: relative;
	top: -510px;
	left: 145px;
	font-size: 120px;
	color: #FF2D2D;
}

#pwdspan2 {
	position: relative;
	top: -506px;
	left: 35px;
	font-weight: 700;
	font-size: 17px;
}

#alt3 {
	opacity: 0.7;
	position: relative;
	top: -450px;
	left: 145px;
	font-size: 120px;
	color: #FF2D2D;
}

#repwd1 {
	position: relative;
	top: -420px;
	left: 40px;
	font-weight: 700;
	font-size: 17px;
}

#correct4 {
	position: relative;
	top: -468px;
	left: -68px;
	color: #01B468;
	font-size: 22px;
}

#error4 {
	position: relative;
	top: -555px;
	left: 157px;
	color: red;
	font-size: 21px;
}

#emilspan1 {
	position: relative;
	top: -527px;
	left: 12px;
	font-weight: 700;
	font-size: 17px;
}

#alt4 {
	opacity: 0.7;
	position: relative;
	top: -570px;
	left: 125px;
	font-size: 120px;
	color: #FF2D2D;
}
#show_password{	
margin: 0px;
padding: 0px;
display:inline;

	
	}
#udud{
	position: relative;
	top: -13px;
	right:110px;
}
#susu{
	
	margin:0px auto 10px auto;
}